In [2]:
import json

# Read the API key from the configuration file
with open("config.json", "r") as config_file:
    config = json.load(config_file)
    currency_conversion_api_key = config.get("CURRENCY_CONVERSION_API_KEY")

if currency_conversion_api_key is None:
    raise ValueError("CURRENCY_CONVERSION_API_KEY not found in the configuration file")

In [7]:
import json
import pandas as pd

In [3]:
# import requests
# from requests.structures import CaseInsensitiveDict

# url = "https://api.freecurrencyapi.com/v1/latest?apikey=api_key"

# resp = requests.get(url)

# print(resp.status_code)

401

In [3]:
import requests
from requests.structures import CaseInsensitiveDict

url = "https://api.freecurrencyapi.com/v1/latest"

base_currency = 'ZAR'
currencies = 'USD,TRY,AUD,GBP'

params = {
    "base_currency": base_currency,
    "currencies": currencies
}

headers = CaseInsensitiveDict()
headers["apikey"] = currency_conversion_api_key
resp = requests.get(url, params=params,headers=headers)

print(resp.status_code)

200

# RATES

In [4]:
rate_url = 'https://api.freecurrencyapi.com/v1/latest'
rates_resp = requests.get(rate_url, params=params,headers=headers)

In [5]:
# print(rates_resp.content)
data = json.loads(rates_resp.text)

In [8]:
df = pd.DataFrame(data)

In [9]:
df

         data
AUD  0.084091
GBP  0.044281
TRY  1.555983
USD  0.054799

# Currency List

In [10]:
curr_url = 'https://api.freecurrencyapi.com/v1/currencies'
curr_resp = requests.get(curr_url,headers=headers)

In [11]:
curr_list_info = json.loads(curr_resp.text)

In [12]:
curr_list_df = pd.DataFrame(curr_list_info)

In [14]:
# curr_list_df

# Historical Rates

In [15]:
histo_rate_url = "https://api.freecurrencyapi.com/v1/historical"
histo_respo = requests.get(histo_rate_url ,headers=headers)

In [16]:
histo_rates_data = json.loads(histo_respo.text)
histo_data_df = pd.DataFrame(histo_rates_data)

In [17]:
histo_data_df

                                                         data
2023-11-05  {'AUD': 1.5345401805, 'BGN': 1.8221902017, 'BR...